.git
.idea
node_modules
nbproject
build/*
# Include to help with ioBroker adapter checker
!build/main.js

# Sourcemaps
maps/

# npm package files
iobroker.*.tgz

Thumbs.db

# NYC coverage files
coverage
.nyc*
!.nycrc

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt